<div class="login-container">
  <form class="login-form" [formGroup]="form" (submit)="onLogin()">
    <h1>KanBan</h1>
    <mat-form-field appearance="standard">
      <mat-label>Username</mat-label>
      <input
        matInput
        formControlName="username"
        [errorStateMatcher]="errorMatcher"
      />
      <mat-error *ngIf="usernameError">{{ usernameError }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        [errorStateMatcher]="errorMatcher"
      />
      <mat-error *ngIf="passwordError">{{ passwordError }}</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      color="primary"
      style="margin-top: 10px;"
    >
      Login
    </button>
  </form>
</div>
