<div class="project-container">
  <div class="title">My projects:</div>

  <mat-card
    *ngFor="let project of projects"
    class="project"
    [routerLink]="['/dashboard', 'project', project.id]"
  >
    <div>
      <div class="project-title">{{ project.title }}</div>
      <div class="project-members">
        Developers: {{ project.developers.length }}
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      style="margin-top: 10px;"
      *ngIf="project.scrumMaster.id === (user$ | async).id"
      (click)="addSprint(project); $event.stopPropagation()"
    >
      Add sprint
    </button>
  </mat-card>
</div>
