<div class="project-container">
  <div class="title">My projects:</div>

  <mat-card
    *ngFor="let project of projects"
    class="project"
    [routerLink]="['/dashboard', 'project', project.id]"
  >
    <div>
      <div class="project-title">{{ project.title }}</div>
      <div class="project-members">Members: {{ project.users.length }}</div>
      <div class="project-role">My role: {{ project.myRole }}</div>
    </div>
    <button
      mat-raised-button
      color="primary"
      style="margin-top: 10px;"
      *ngIf="project.myRole === 'SCRUM_MASTER'"
      (click)="addSprint(project); $event.stopPropagation()"
    >
      Add sprint
    </button>
  </mat-card>
</div>
