<div class="project-container">
  <mat-card-title class="story-details"
    >{{ story.title }}
    <div class="edit-buttons">
      <button
        *ngIf="isStoryInProductBackLog"
        mat-icon-button
        matTooltip="Edit size"
        matTooltipPosition="below"
        color="black"
        (click)="editTime(story); $event.stopPropagation()"
      >
        <mat-icon>schedule</mat-icon>
      </button>
    </div></mat-card-title
  >
  <mat-tab-group>
    <mat-tab label="Details">
      <mat-card-content>
        <div class="group">
          <div class="group-title">Description:</div>
          <div class="description">{{ story.description }}</div>
        </div>
        <div class="group">
          <div class="group-title">Acceptance Tests:</div>
          <div class="group-content">{{ story.acceptanceTests }}</div>
        </div>
        <div class="last-group">
          <div class="group wrap">
            <div class="group-title">Priority:</div>
            <div class="group-content">{{ story.priority }}</div>
          </div>
          <div class="group wrap">
            <div class="group-title">Bussiness Value:</div>
            <div class="group-content">{{ story.businessValue }}</div>
          </div>
          <div class="group wrap">
            <div class="group-title">Size:</div>
            <div class="group-content">
              {{ story.size ? story.size : "None" }}
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-tab>

    <mat-tab label="Tasks">
      <div class="tasks">
        <div class="board">
          <div class="cards">
            <mat-card *ngFor="let task of tasks">
              <div class="edit-buttons">
                <button
                  mat-icon-button
                  color="white"
                  (click)="deleteTask(task); $event.stopPropagation()"
                  matTooltip="Edit task"
                  matTooltipPosition="below"
                >
                  <mat-icon>delete</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="white"
                  (click)="editTask(task); $event.stopPropagation()"
                  matTooltip="Delete task"
                  matTooltipPosition="below"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
              <mat-card-title>
                ({{ task.id }}) {{ task.title }}
              </mat-card-title>
              <mat-card-content>
                <div>
                  Description:
                  {{ task.description ? task.description : "None" }}
                </div>
                <div>State: {{ task.state }}</div>
                <div>User: {{ getUser(task) }}</div>
                <div>Size: {{ task.size }}</div>
              </mat-card-content>
            </mat-card>

            <mat-card
              *ngIf="
                areTasksEmpty &&
                isStoryInSprint &&
                activeSprint &&
                ((isDeveloper$ | async) || (isScrumMaster$ | async))
              "
              class="create-story"
              (click)="addTask(); $event.stopPropagation()"
            >
              <mat-card-content>
                <mat-icon>add_outline</mat-icon>
                Create new task
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
