@import "../../../variables";

.story-details {
  position: relative;

  .edit-buttons {
    color: #000000;
    display: inline;
    position: absolute;
    right: 5%;
    bottom: 5%;
  }
}

mat-card-content {
  .group {
    padding: 1em;
    margin: 1em;

    box-sizing: border-box;
    background-color: $lightgray;
    box-shadow: $material-shadow;
  }

  .group-title {
    font-size: 20px;
    color: #979797;
    padding: 5px;
  }

  .description {
    // background-color: $lightgray;
    height: 15em;
    padding: 1em;

    font-size: 15px;
  }

  .group-content {
    // background-color: $lightgray;
    height: 2em;
    padding: 1em;
    font-size: 15px;
  }

  .last-group {
    .wrap {
      width: 31.3%;
      height: auto;
      float: left;
      margin-right: 1px;

    }
  }
}

.tasks {
  .board {
    background-color: $lightgray;
    box-shadow: $material-shadow;
    border: 1px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    border-radius: 5px;
    margin-right: 30px;
    transition: all 0.3s ease;

    .story-details {
      cursor: pointer;
    }

    .title {
      font-size: 16px;
      padding: 15px;

      color: white;
    }

    .cards {
      max-height: 635px;
      overflow: auto;
      padding: 15px;

      .flex {
        display: flex;
        justify-content: space-between;
      }
    }

    &.missing-sprint {
      color: $gray;
      border: 3px dashed $gray;
      box-shadow: none;
      cursor: pointer;

      &:hover {
        box-shadow: $material-shadow;
      }

      .title {
        background-color: $lightgray;
        color: $gray;
        border-bottom: 3px dashed $gray;
      }

      .cards {
        mat-icon {
          display: block;
          margin: 0 auto;
          font-size: 50px;
          width: 50px;
          height: 50px;
          padding-top: 15px;
        }
      }
    }
  }

  mat-card {
    padding: 0 0 16px;
    margin-bottom: 20px;
    position: relative;

    .edit-buttons {
      display: inline;
      position: absolute;
      right: 5%;
    }


    mat-card-title {
      font-size: 15px;
      padding-left: 30px;
      background: #e7e7e7;
      color: black;

      &::before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        left: 9px;
        top: 18px;
        border-radius: 50%;
      }

      &.UNASSIGNED::before {
        background: $task-unassigned;
      }

      &.ASSIGNED::before {
        background: $task-assigned;
      }

      &.ACTIVE::before {
        background: $task-active;
      }

      &.DONE::before {
        background: $task-done;
      }

      &:hover {
        cursor: pointer;
      }
    }

    mat-card-content {
      // max-height: 50px;
      padding: 0 16px;
      overflow: hidden;
      position: relative;
      height: 100%;
    }

    &.create-story {
      color: $gray;
      border: 2px dashed $gray;
      box-shadow: none;
      bottom: 0;
      cursor: pointer;

      &:hover {
        box-shadow: $material-shadow;
      }

      mat-icon {
        width: 18px;
        height: 18px;
        font-size: 18px;
        vertical-align: top;
      }
    }
  }
}
