@import "../../../variables";
mat-card-content {
  .group {
    padding: 1em;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: $lightgray;
    box-shadow: $material-shadow;
  }
  .group-title {
    font-size: 20px;
    color: #979797;
    padding: 5px;
  }
  .description {
    // background-color: $lightgray;
    height: 15em;
    padding: 1em;
  }
  .tests {
    // background-color: $lightgray;
    height: 2em;
    padding: 1em;
  }
  .last-group {
    .first {
      width: 45%;
      display: block;
      float: left;
    }
    .second {
      margin-left: 10%;
      width: 45%;
      display: block;
      float: left;
    }
    .priority {
      // background-color: $lightgray;
      height: auto;
      padding: 1em;
    }
    .bussiness-value {
      // background-color: $lightgray;
      height: auto;
      padding: 1em;
    }
  }
}

.tasks {
  .board {
    background-color: $lightgray;
    box-shadow: $material-shadow;
    border: 1px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    border-radius: 5px;
    margin-right: 30px;
    transition: all 0.3s ease;
    .story-details {
      cursor: pointer;
    }
    .title {
      font-size: 16px;
      padding: 15px;

      color: white;
    }

    .cards {
      max-height: 800px;
      overflow: auto;
      padding: 15px;
    }

    &.missing-sprint {
      color: $gray;
      border: 3px dashed $gray;
      box-shadow: none;
      cursor: pointer;

      &:hover {
        box-shadow: $material-shadow;
      }

      .title {
        background-color: $lightgray;
        color: $gray;
        border-bottom: 3px dashed $gray;
      }

      .cards {
        mat-icon {
          display: block;
          margin: 0 auto;
          font-size: 50px;
          width: 50px;
          height: 50px;
          padding-top: 15px;
        }
      }
    }
  }
  mat-card {
    margin-bottom: 10px;
    position: relative;
    .edit-buttons {
      display: inline;
      position: absolute;
      right: 5%;
    }
    // button {
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    // }

    mat-card-title {
      background: $task-title;
      font-size: 15px;
      &:hover {
        cursor: pointer;
      }
    }

    mat-card-content {
      // max-height: 50px;
      overflow: hidden;
      position: relative;
      height: 100%;
    }

    &.create-story {
      color: $gray;
      border: 2px dashed $gray;
      box-shadow: none;
      bottom: 0;
      cursor: pointer;

      &:hover {
        box-shadow: $material-shadow;
      }
      mat-icon {
        width: 18px;
        height: 18px;
        font-size: 18px;
        vertical-align: top;
      }
    }
  }
}
