<form autocomplete="off" class="sprint-form" [formGroup]="form">
  <div class="title">Create new sprint</div>

  <mat-form-field class="example-full-width">
    <mat-label>Start date</mat-label>
    <input
      matInput
      formControlName="startDate"
      [min]="minStartDate"
      [matDatepicker]="startPicker"
      (click)="startPicker.open()"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="startPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>End date</mat-label>
    <input
      matInput
      formControlName="endDate"
      [min]="minEndDate"
      [matDatepicker]="endPicker"
      (click)="endPicker.open()"
    />
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Sprint velocity</mat-label>
    <input matInput type="number" formControlName="velocity" min="1" step="1" />
    <mat-error>Only natural numbers</mat-error>
  </mat-form-field>

  <mat-error class="error-msg">{{ errorMsg }}</mat-error>

  <button
    mat-raised-button
    color="primary"
    style="margin-top: 10px;"
    [disabled]="form.invalid"
    (click)="createSprint()"
  >
    Create
  </button>
</form>
