<form autocomplete="off" class="story-form" [formGroup]="form">
  <div class="title">{{newStory ? 'Create new story' : 'Edit story'}}</div>

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Acceptance Tests</mat-label>
    <textarea matInput formControlName="acceptanceTests"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Priority</mat-label>
    <mat-select matSelect value="COULD_HAVE" formControlName="priority">
      <mat-option value="COULD_HAVE">Could Have</mat-option>
      <mat-option value="SHOULD_HAVE">Should Have</mat-option>
      <mat-option value="MUST_HAVE">Must Have</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Business Value</mat-label>
    <input type="number" matInput min="1" max="10" step="1" formControlName="businessValue">
  </mat-form-field>

  <mat-error class="error-msg">{{ errorMsg }}</mat-error>

  <button
    mat-raised-button
    color="primary"
    style="margin-top: 10px;"
    [disabled]="form.invalid"
    (click)="saveStory()"
  >
  {{newStory ? 'Create' : 'Update'}}
  </button>
</form>
