table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.delete-icon {
  float: right;
}

.delete-header {
  width: 0%;
}

// td,
th {
  background-color: #fafafa;
}

.mat-icon {
  cursor: pointer;
}
