@import "../../variables";

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.logged-in-user {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  line-height: 1;

  padding-left: 10px;

  .name {
    padding: 10px 0;
    font-size: 16px;
  }
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

.sidenav {
  // background: url("src/images/fri-outside.jpg");
  border: none;
  background-color: #666666;
  width: 180px;
  transition: width 0.3s ease;

  a {
    color: #ffffff;

    &:hover {
      background-color: #5f5e5e;
    }

    &.is-active {
      background-color: $primary-color;
    }
  }

  &.closed {
    width: 60px;
  }
}

.sidenav-content {
  margin-left: 180px;
  transition: margin-left 0.3s ease;

  &.closed {
    margin-left: 60px !important;
  }
}


/*left sidenav style override*/
/*
mat-sidenav:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 60px !important;
  overflow: hidden;
  transition: ease;
}


mat-sidenav:not(.mat-drawer-opened) .navigation-item-label {
  display: none !important;
}

mat-sidenav:not(.mat-drawer-opened) .home-button {
  display: none !important;
} */

// mat-drawer-container {
//   height: 100%;
// }
