<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>KanBan</span>
    <span class="example-spacer"></span>

    <button
      mat-icon-button
      color="white"
      aria-label="Example icon-button with a heart icon"
      routerLink="/dashboard"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button
      mat-icon-button
      color="white"
      aria-label="Example icon-button with a heart icon"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        routerLink="/dashboard/admin/add-user"
        *ngIf="isAdmin"
      >
        Add new user
      </button>
      <button
        mat-menu-item
        routerLink="/dashboard/admin/add-project"
        *ngIf="isAdmin"
      >
        Create project
      </button>
      <button mat-menu-item (click)="onLogout()">
        Log out <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
