<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-icon-button
      aria-label="Toggle sidebar"
      (click)="onToggleSidebar()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>KanBan</span>
    <span class="example-spacer"></span>
    <div class="logged-in-user">
      <span class="name">{{ userName$ | async }}</span>
      <span class="last-login">
        Last login: {{ (lastLogin$ | async | date: "d.M.yyyy, h:mm a") || "-" }}
      </span>
    </div>
    <button mat-icon-button color="white" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard/my-account">
        <mat-icon>person</mat-icon>
        My account
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        Log out
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    [class.closed]="!isSidebarOpen"
    appResponsiveSidenav
    #start
    #drawer
    mode="side"
    disableClose="true"
    role="navigation"
    opened
  >
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/dashboard/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="is-active"
      >
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <h4 mat-line>Dashboard</h4>
      </a>
      <a
        mat-list-item
        routerLink="/dashboard/admin/add-user"
        routerLinkActive="is-active"
        *ngIf="isAdmin"
      >
        <mat-icon mat-list-icon>person_add</mat-icon>
        <h4 mat-line>Add user</h4>
      </a>
      <a
        mat-list-item
        routerLink="/dashboard/admin/edit-users"
        routerLinkActive="is-active"
        *ngIf="isAdmin"
      >
        <mat-icon mat-list-icon>people</mat-icon>
        <h4 mat-line>Edit users</h4>
      </a>
      <a
        mat-list-item
        routerLink="/dashboard/admin/add-project"
        routerLinkActive="is-active"
        *ngIf="isAdmin"
      >
        <mat-icon mat-list-icon>library_add</mat-icon>
        <h4 mat-line>Create project</h4>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content" [class.closed]="!isSidebarOpen">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
