<div class="add-project-container">
  <form class="add-project-form" autocomplete="off" [formGroup]="form">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Project name</mat-label>
        <input
          matInput
          formControlName="title"
          [errorStateMatcher]="errorMatcher"
        />
        <mat-error *ngIf="title?.errors?.invalidTitle">{{
          title.errors.invalidTitle
        }}</mat-error>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label>Users</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          #autoInput
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="addUser($event.option.value); autoInput.blur()"
        >
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option.firstName }} {{ option.lastName }} ({{ option.username }})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <app-users-on-project
        [users]="selectedUsers"
        (onRemove)="removeUser($event)"
      ></app-users-on-project>
      <br />
      <button
        mat-raised-button
        color="primary"
        style="margin-top: 10px;"
        [disabled]="form.invalid || !users.length"
        (click)="sendData()"
      >
        <span
          matTooltipPosition="right"
          [matTooltip]="form.getError('error')"
          [matTooltipDisabled]="!form.hasError('error')"
          >Create project</span
        >
      </button>
    </div>
  </form>
</div>
