@import "../../../variables";

.add-project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;

  .add-project-form {
    display: flex;
    flex-direction: column;

    width: 500px;

    background: $lightgray;
    box-shadow: $material-shadow;

    padding: 30px 50px;
    border-radius: 10px;
    .mat-form-field {
      margin-left: 20px;
      margin-right: 20px;

      width: 400px;
    }
  }
}
