<div class="add-user-container">
  <form class="add-user-form" autocomplete="off" [formGroup]="form">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          [errorStateMatcher]="errorMatcher"
        />
        <mat-error *ngIf="usernameError">{{ usernameError }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          [errorStateMatcher]="errorMatcher"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          autocomplete="new-password"
          [errorStateMatcher]="errorMatcher"
        />
        <mat-error>
          Should have 8 characters, 1 uppercase, 1 lowercase and a number
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password2"
          autocomplete="new-password"
          [errorStateMatcher]="errorMatcher"
        />
        <mat-error *ngIf="form.hasError('noPasswordMatch')">
          Passwords do not match
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="standard">
        <mat-label>First name</mat-label>
        <input
          matInput
          formControlName="firstName"
          [errorStateMatcher]="errorMatcher"
        />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Last name</mat-label>
        <input
          matInput
          formControlName="lastName"
          [errorStateMatcher]="errorMatcher"
        />
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select formControlName="role" [errorStateMatcher]="errorMatcher">
        <mat-option value="ADMIN">
          ADMIN
        </mat-option>
        <mat-option value="USER">
          USER
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      [disabled]="form.invalid"
      color="primary"
      style="margin-top: 10px;"
      (click)="sendData()"
    >
      Add user
    </button>
  </form>
</div>
